*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.menu>li{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    letter-spacing: 0%;
}

.menu>li>button{
    background-color: #4579CB;
    color: white;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
}

.menu>li:active{
    color: #3b67ad;
    font-weight: 702;
    font-size: 17px;
}

.menu>li>button:active{
    background-color: #3b67ad;
    width: 152px;
    height: 42px;
    margin-left: 2px;
}

header>h1{
    color: #4579CB;
}

.container1{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* font-size:50px ; */
} 

.container1_item1>h1{
    font-weight: 700;
    margin-top: 90px;
    font-size: 50px; 
    color: #474747;
}

span{
    color: #4579CB;
}

.container1_item1>p{
    margin-top: 50px;
    width: 828px;
    height: 54px;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.container1_item1>button{
    margin-top: 40px;
    background-color: #4579CB;
    color: white;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
}

.container1_item1>button:active{
    background-color: #3b67ad;
    width: 152px;
    height: 42px;
    margin-left: 2px;
}

.container1_item1>a{
    color: #666666;
    text-decoration-color: #CACACA;
}

.container2{
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.container2_item1>h2{
    margin-top: 100px;
    color: #474747;
}

.container2_item1>p{
    max-width: 800px; 
    margin: 0 auto;
    text-align: center; 
    color: #666666;
}

.container2_item2{
    width: 1239px;
    height: 60px;
    margin-top: 45px;
    margin-left: -1px;
}

.container2_item2>img{
    width: 200px;
}

.container2_item3{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;        
    gap: 7px;
}

.container2_item3>div{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background-color: #E6E6E6;

}

.container2_item3>div:nth-child(2){
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: none;
    background-color: #4579CB;
}